# https://editorconfig.org

# top-most EditorConfig file
root = true

# every file
[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

[*.{yaml,toml}]
indent_size = 2

[*.{js,py,css,xml,xsd}]
indent_size = 4

[*.{java,groovy,kt,kts}]
# JetBrains IntelliJ IDEA
# Settings > Code Style > Enable EditorConfig support
indent_size = 4
# no wildcard imports
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999

