# playground
settings/
playground/
tool/

# work
work/
micro-frontend/

# shell
.sudo_as_admin_successful
#.bashrc
.bash_profile
.bash_logout
.bash_history
.profile

#.zshrc
.oh-my-zsh/
.zsh_history
.zsh_sessions/
.zcompdump*
.zprofile*
.shell.pre-oh-my-zsh
.zshrc.pre-oh-my-zsh

.ssh/*
!.ssh/config

.lesshst
*.swp
.wget-hsts

# macOS
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Users/
.Trash/
.CFUserTextEncoding
.DS_Store
.swiftpm/

.config/*
!.config/fish/

.cache/
.local/

# Linux
.pki/
.gnupg/

# Windows

# Visual Studio Code
.vscode/
.dbclient/
.cursor/
.redhat/

# Jetbrains
DataGripProjects/
IdeaSnapshots/
jcef*

# Vim
.vim/
.viminfo
.fzf.zsh
.fzf/
.fzf.bash

# Java
*.hprof
.sdkman/
.m2/
.gradle/
.java/
.visualvm/

# Android
.android/

# JavaScript
.yarn/
.node_repl_history
.pnpmrc
.npm/
.nvm/

# Go
go/
.dlv/

# etc.
Dropbox
.dropbox/
.dropbox-dist/

.docker/
.aws/

.redis-insight/

.sonarlint/

*.log
logs/
*.xlsx

.wakatime/
.wakatime.cfg

.dotnet/

.mozilla/

# snapcraft
snap/

