# global: ~/.gitconfig
# local: .git/config
[core]
  repositoryformatversion = 0
  filemode = true
  bare = false
  logallrefupdates = true
  ignorecase = true
  precomposeunicode = true

;local-user
[user]
  name = "markruler"
  email = "csu0414@gmail.com"
[remote "hub"]
  url = https://github.com/markruler/repository-name.git
  fetch = +refs/heads/*:refs/remotes/hub/*
