# https://gist.github.com/tdd/470582
# https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration
# man git-config
[user]
	name = Changsu Im
	email = imcxsu@gmail.com
[core]
	hooksPath = ./.githooks # ~/.githooks
  editor = code --wait
  # editor = vim
  # editor = gedit
	# editor = emacs
	pager = less # cat, more
	whitespace = -trailing-space
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	precomposeunicode = true
[color]
  ui = auto
[status]
  submoduleSummary = true
[diff]
  # Use better, descriptive initials (c, i, w) instead of a/b.
  mnemonicPrefix = true
  # Show renames/moves as such
  renames = true
  # When using --word-diff, assume --word-diff-regex=.
  wordRegex = .
  # Display submodule-related information (commit listings)
  submodule = log
  # Use VSCode as default diff tool when running `git diff-tool`
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[remote "origin"]
	url = https://markruler@github.com/markruler/settings.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "main"]
	remote = origin
	merge = refs/heads/main
[tag]
  # Sort tags as version numbers whenever applicable, so 1.10.2 is AFTER 1.2.0.
  sort = version:refname
[alias]
	alias = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
	st = status
	logg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset' # --oneline --all
	cm = commit
  co = checkout
	df = diff
	dfs = diff --staged
	# Useful when you have to update your last commit
  # with staged files without editing the commit message.
	oops = commit --amend --no-edit
  # Edit last commit message
	reword = commit --amend
